/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/* 1st section */

.bd-white {
  background: #fff;
  text-align: center;
  padding: 25px;
}

.bd-white h1 {
  margin-bottom: 5px;
}

.bd-white .profile {
  margin-bottom: 25px;
}

.owner-details img {
  border-radius: 50%;
  margin-bottom: 8px;
}

h2.relationship,
h2.name {
  color: #909597;
  margin-bottom: 3px;
}

h2.name {
  font-weight: bold;
}

p.location {
  margin-bottom: 20px;
}

/* Icons */

.icon {
  float: left;
  width: 33.3%;
}

.icon img {
  height: 30px;
  margin-bottom: 3px;
}

.booking h2 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

h2.price .time {
  font-size: 16px;
}


/* Header */
header .logo-img {
  border-right: 1px solid #dce0e0;
}

.hero-img img {
  width: 100%;
}

.owner-pic img {
  border-radius: 50%;
}

/* 2nd section */
.about {
  background-color: rgb(206, 206, 206);
  padding: 20px;
}

.about p.about-dog {
  line-height: 1.6;
  margin-bottom: 50px;
}

.about h3 {
  line-height: 3;
  text-align: center;
}

.care,
.games {
  margin: 30px 0;
}


/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}


@media only screen and (min-width: 1060px) {
  .container {
    width: 1040px;
    margin: 0 auto;

  }

  .column {
    float: left;
  }

  .button {
    width: 275px;
    margin: auto;
  }


  .bd-white .profile {
    width: 660px;
  }

  .bd-white .booking {
    width: 380px;
  }

  .bd-white .owner-details {
    width: 20%;
  }

  .bd-white .pet-details {
    width: 80%;
    text-align: left;
  }

  .bd-white .pet-details .icon {
    margin-right: 50px;
    width: inherit;
  }

  .bd-white .pet-details .icon img {
    display: block;
    margin: 3px auto 3px;
  }


}