/*
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

body {
  margin: 0;
  background: rgb(245, 245, 245);
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 0.875rem;
  color: rgb(86, 90, 92);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  font-weight: bold;
  color: rgb(255, 89, 95);
  text-decoration: none;
}

strong {
  font-weight: 600;
}

/* 1st section */

.bd-white {
  background: #fff;
  text-align: center;
  padding: 25px;
}


.bd-white h1 {
  margin-bottom: 0.3125rem;
}

.bd-white .profile {
  margin-bottom: 1.5rem;
}

.owner-details img {
  border-radius: 50%;
  margin-bottom: 0.5rem;
  width: 90px;
}


h2.relationship,
h2.name {
  color: #909597;
  margin-bottom: 0.1875rem;
}

h2.name {
  font-weight: bold;
}

p.location {
  margin-bottom: 1.25rem;
}

/* Icons */

.icon {
  float: left;
  width: 33.3%;
}

.icon img {
  /* height: 1.875rem; */
  height: 30px;
  margin-bottom: 0.1875rem;
}

.booking h2 {
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 0.8125rem;
}

h2.price .time {
  font-size: 1rem;
}

h1 {
  font-size: 1.375rem;
  color: #666a6c;
}

/* Header */
header {
  background: #fff;
}

header .logo-img {
  border-right: 1px solid #dce0e0;
}

.hero-img img {
  width: 100%;
}

.owner-pic img {
  border-radius: 50%;
}

/* 2nd section */

.about {
  background-color: rgb(231, 231, 231);
  padding: 1.25rem;
}

.about p.about-dog {
  line-height: 1.6;
  margin-bottom: 3.125rem;
}

.about h2 {
  line-height: 3;
  text-align: center;
  font-weight: 600;
  font-size: 1.375rem;
}

span.highlight {
  font-weight: 600;
}

.contact {
  font-weight: 800;
  color: rgb(255, 89, 95);
}

.care>p,
.games>p {
  margin-top: 10px;
  line-height: 3;
}


.care p,
.games-thing {
  line-height: 2;
}



/*
 * Button styles
*/

.button {
  background: rgb(255, 89, 95);
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.75rem 5rem;
  border-bottom: 1px solid rgb(227, 25, 29);
  border-radius: 2px;
  width: 95%;
  margin: 0 auto;
}

.button:hover {
  filter: brightness(1.2);
  background-color: #00b661;
  border-bottom: 1px solid rgb(0, 167, 22);
  transform: scale(1.05);
}

.photos img {
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}




@media only screen and (min-width: 1060px) {
  .container {
    width: 1040px;
    margin: 0 auto;

  }

  p.about-dog,
  .care,
  .games {
    width: 50%;
    margin: 0 auto;
  }

  .column {
    float: left;
  }

  .button {
    width: 275px;
    margin: auto;
  }

  /* first section */
  .bd-white h1 {
    margin-bottom: 0.6875rem;
  }

  .bd-white h2 {
    margin-bottom: 0.1875rem;
  }


  .bd-white .profile {
    width: 660px;
  }

  .bd-white .booking {
    width: 380px;
  }

  .bd-white .owner-details {
    width: 20%;
  }

  .bd-white .pet-details {
    width: 80%;
    text-align: left;
  }

  .bd-white .pet-details .icon {
    margin-right: 3.125rem;
    /* margin-right: 50px; */
    width: inherit;
  }

  .bd-white .pet-details .icon img {
    display: block;
    margin: 0.1875rem auto 0.1875rem;
  }

  /* push */
  .push>p {
    margin: 0.313rem 0;
  }

  .push {
    margin-left: 6.25rem;
    top: -2.063rem;
    position: relative;
  }

  /* games-thing */
  .games-thing .seperator {
    margin: 0.625rem 0;
  }

  hr {
    width: 50%;
  }

  /* photo */

  .photos {
    text-align: center;
  }

  .photos img {
    width: 300px;
    height: 300px;
    transition: 1s;
    padding: 0.625rem;
    display: inline-block;
  }

  .photos img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
  }


}